{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div class="border">
        <div class="wrapper">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input_box">
                    <input type="email" name="email"  placeholder="Email Address" required>
                </div>
                <div class="input_box">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">login</button>
            </form>
            <div class="register">
                Don't have an account?<a href="{% url 'register' %}">Register Now</a>
            </div>
            <div class="register">
                Forgot Password? <a href="{% url 'forgot_password' %}">Click Here</a>
            </div>
        </div>
    </div>
    </body>

</html>