<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="styles.css/navigation.css">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <div class="logo-container">
                <img src="./images/logo.png" alt="web logo" height="50px" width="50px">
                <h2>TumorFinder</h2>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Review MRI</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>